doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  script(src="/../../js/Ease.js")
  script(src="/../../js/Tween.js")
  script(src="/../../js/CSSPlugin.js")
  script(src="/../../js/easeljs-NEXT.min.js")