doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type = 'text/javascript', src='/javascripts/EventDispatcher.js')
    script(type = 'text/javascript', src='/javascripts/Tween.js')
    script(type = 'text/javascript', src='/javascripts/CSSPlugin.js')
    script(type = 'text/javascript', src='/javascripts/Ease.js')
    script(type = 'text/javascript', src='/javascripts/easeljs-NEXT.min.js')
    script(type = 'text/javascript', src='/javascripts/animation.js')     
  body(onload = 'init()')!= body
    block content